@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Josefin+Sans:ital,wght@0,700;1,600&family=Outfit:wght@500;600&family=Roboto+Condensed:wght@400;700&display=swap');
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: lightblue;
}

hot-offer {
    position: relative;
}

.topright {
    position: absolute;
    top: -15px;
    right: 4px;
}

.vwitdth {
    width: 100vw;
}

.flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
}

.whfix {
    width: 100vw;
    height: auto;
}

.footer {
    margin-left: 10px;
    margin-top: 50px;
}